.flag {
	background-image: url("../images/flags16.png");
	background-position: left 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 0;
	top: 2px;
	vertical-align: middle;
	width: 18px;
}

.African-Union {
	background-position: right -16px;
}

.Arab-League {
	background-position: right -32px;
}

.ASEAN {
	background-position: right -48px;
}

.CARICOM {
	background-position: right -64px;
}

.CIS {
	background-position: right -80px;
}

.Commonwealth {
	background-position: right -96px;
}

.England,
.GB {
	background-position: right -112px;
}

.European-Union {
	background-position: right -128px;
}

.Islamic-Conference {
	background-position: right -144px;
}

.Kosovo,
.XK {
	background-position: right -160px;
}

.NATO {
	background-position: right -176px;
}

.Northern-Cyprus,
.CY {
	background-position: right -192px;
}

.Northern-Ireland,
.IE {
	background-position: right -208px;
}

.Olympic-Movement {
	background-position: right -224px;
}

.OPEC {
	background-position: right -240px;
}

.Red-Cross {
	background-position: right -256px;
}

.Scotland,
.GB {
	background-position: right -272px;
}

.Somaliland,
.SO {
	background-position: right -288px;
}

.Tibet {
	background-position: right -304px;
}

.United-Nations {
	background-position: right -320px;
}

.Wales {
	background-position: right -336px;
}

.Andorra,
.AD {
	background-position: right -352px;
}

.United-Arab-Emirates,
.AE {
	background-position: right -368px;
}

.Afghanistan,
.AF {
	background-position: right -384px;
}

.Antigua-and-Barbuda,
.AG {
	background-position: right -400px;
}

.Anguilla,
.AI {
	background-position: right -400px;
}

.Albania,
.AL {
	background-position: right -416px;
}

.Armenia,
.AM {
	background-position: right -432px;
}

.Netherland-Antilles,
.AN {
	background-position: right -448px;
}

.Angola,
.AO {
	background-position: right -464px;
}

.Antarctica {
	background-position: right -480px;
}

.Argentina,
.AR {
	background-position: right -496px;
}

.American-Samoa {
	background-position: right -512px;
}

.Austria,
.AT {
	background-position: right -528px;
}

.Australia,
.AU {
	background-position: right -544px;
}

.Aruba,
.AW {
	background-position: right -560px;
}

.Azerbaijan,
.AZ {
	background-position: right -592px;
}

.Bosnia-and-Herzegovina,
.BA {
	background-position: right -608px;
}

.Barbados,
.BB {
	background-position: right -624px;
}

.Bangladesh,
.BD {
	background-position: right -640px;
}

.Belgium,
.BE {
	background-position: right -656px;
}

.Burkina-Faso,
.BF {
	background-position: right -672px;
}

.Bulgaria,
.BG {
	background-position: right -688px;
}

.Bahrain,
.BH {
	background-position: right -704px;
}

.Burundi,
.BI {
	background-position: right -720px;
}

.Benin,
.BJ {
	background-position: right -736px;
}

.Bermuda,
.BM {
	background-position: right -752px;
}

.Brunei,
.BN {
	background-position: right -768px;
}

.Bolivia,
.BO {
	background-position: right -784px;
}

.Brazil,
.BR {
	background-position: right -800px;
}

.Bahamas,
.BS {
	background-position: right -816px;
}

.Bhutan,
.BT {
	background-position: right -832px;
}

.Botswana,
.BW {
	background-position: right -848px;
}

.Belarus,
.BY {
	background-position: right -864px;
}

.BelizeBZ {
	background-position: right -880px;
}

.Canada,
.CA {
	background-position: right -896px;
}

.Congo,
.CG {
	background-position: right -912px;
}

.Central-African-Republic,
.CF {
	background-position: right -928px;
}

.Congo.CG {
	background-position: right -944px;
}

.Switzerland,
.CH {
	background-position: right -960px;
}

.Cote-d-Ivoire,
.CI {
	background-position: right -976px;
}

.Cook-Islands,
.CK {
	background-position: right -992px;
}

.Chile,
.CL {
	background-position: right -1008px;
}

.Cameroon,
.CM {
	background-position: right -1024px;
}

.China,
.CN {
	background-position: right -1040px;
}

.Colombia,
.CO {
	background-position: right -1056px;
}

.Costa-Rica,
.CR {
	background-position: right -1072px;
}

.Cuba,
.CU {
	background-position: right -1088px;
}

.Cabo-Verde,
.CV {
	background-position: right -1104px;
}

.Cyprus,
.CY {
	background-position: right -1120px;
}

.Czech-Republic,
.CZ {
	background-position: right -1136px;
}

.Germany,
.DE {
	background-position: right -1152px;
}

.Djibouti,
.DJ {
	background-position: right -1168px;
}

.Denmark,
.DK {
	background-position: right -1184px;
}

.Dominica,
.DM {
	background-position: right -1200px;
}

.Dominican-Republic,
.DO {
	background-position: right -1216px;
}

.Algeria,
.DZ {
	background-position: right -1232px;
}

.Ecuador,
.EC {
	background-position: right -1248px;
}

.Estonia,
.EE {
	background-position: right -1264px;
}

.Egypt,
.EG {
	background-position: right -1280px;
}

.Western-Sahara,
.EH {
	background-position: right -1296px;
}

.Eritrea,
.ER {
	background-position: right -1312px;
}

.Spain,
.ES {
	background-position: right -1328px;
}

.Ethiopia,
.ET {
	background-position: right -1344px;
}

.Finland,
.FI {
	background-position: right -1360px;
}

.Fiji,
.FJ {
	background-position: right -1376px;
}

.Micronesia,
.FM {
	background-position: right -1392px;
}

.Faroe-Islands,
.FO {
	background-position: right -1408px;
}

.France,
.FR {
	background-position: right -1424px;
}

.Gabon,
.GA {
	background-position: right -1440px;
}

.United-Kingdom,
.GB {
	background-position: right -1456px;
}

.Grenada,
.GD {
	background-position: right -1472px;
}

.Georgia,
.GE {
	background-position: right -1488px;
}

.Guernsey,
.GG {
	background-position: right -1504px;
}

.Ghana,
.GH {
	background-position: right -1520px;
}

.Gibraltar,
.GI {
	background-position: right -1536px;
}

.Greenland,
.GL {
	background-position: right -1552px;
}

.Gambia,
.GM {
	background-position: right -1568px;
}

.Guinea,
.GN {
	background-position: right -1584px;
}

.Guadeloupe,
.GP {
	background-position: right -1600px;
}

.Equatorial-Guinea {
	background-position: right -1616px;
}

.Greece,
.GR {
	background-position: right -1632px;
}

.Guatemala,
.GT {
	background-position: right -1648px;
}

.Guam,
.GU {
	background-position: right -1664px;
}

.Guinea-Bissau,
.GW {
	background-position: right -1680px;
}

.Guyana,
.GY {
	background-position: right -1696px;
}

.Hong-Kong,
.HK {
	background-position: right -1712px;
}

.Honduras,
.HN {
	background-position: right -1728px;
}

.Croatia,
.HR {
	background-position: right -1744px;
}

.Haiti,
.HT {
	background-position: right -1760px;
}

.Hungary,
.HU {
	background-position: right -1776px;
}

.Indonesia,
.ID {
	background-position: right -1792px;
}

.Monaco,
.MC {
	background-position: right -1792px;
}

.Ireland,
.IE {
	background-position: right -1808px;
}

.Israel,
.IL {
	background-position: right -1824px;
}

.Isle-of-Man,
.IM {
	background-position: right -1840px;
}

.India,
.IN {
	background-position: right -1856px;
}

.Iraq,
.IQ {
	background-position: right -1872px;
}

.Iran,
.IR {
	background-position: right -1888px;
}

.Iceland,
.IS {
	background-position: right -1904px;
}

.Italy,
.IT {
	background-position: right -1920px;
}

.Jersey,
.JE {
	background-position: right -1936px;
}

.Jamaica,
.JM {
	background-position: right -1952px;
}

.Jordan,
.JO {
	background-position: right -1968px;
}

.Japan,
.JP {
	background-position: right -1984px;
}

.Kenya,
.KE {
	background-position: right -2000px;
}

.Kyrgyzstan,
.KG {
	background-position: right -2016px;
}

.Cambodia,
.KH {
	background-position: right -2032px;
}

.Kiribati,
.KI {
	background-position: right -2048px;
}

.Comoros,
.KM {
	background-position: right -2064px;
}

.Saint-Kitts-and-Nevis,
.KN {
	background-position: right -2080px;
}

.North-Korea,
.KP {
	background-position: right -2096px;
}

.South-Korea,
.KR {
	background-position: right -2112px;
}

.Republic-of-Korea,
.KR {
	background-position: right -2112px;
}

.Kuwait,
.KW {
	background-position: right -2128px;
}

.Cayman-Islands,
.KY {
	background-position: right -2144px;
}

.Kazakhstan,
.KZ {
	background-position: right -2160px;
}

.Laos,
.LA {
	background-position: right -2176px;
}

.Lebanon,
.LB {
	background-position: right -2192px;
}

.Saint-Lucia,
.LC {
	background-position: right -2208px;
}

.Liechtenstein,
.LI {
	background-position: right -2224px;
}

.Sri-Lanka,
.LK {
	background-position: right -2240px;
}

.Liberia,
.LR {
	background-position: right -2256px;
}

.Lesotho,
.LS {
	background-position: right -2272px;
}

.Lithuania,
.LT {
	background-position: right -2288px;
}

.Republic-of-Lithuania,
.LT {
	background-position: right -2288px;
}

.Luxembourg,
.LU {
	background-position: right -2304px;
}

.Latvia,
.LV {
	background-position: right -2320px;
}

.Libya,
.LY {
	background-position: right -2336px;
}

.Morocco,
.MA {
	background-position: right -2352px;
}

.Moldova,
.MD {
	background-position: right -2368px;
}

.Montenegro,
.ME {
	background-position: right -2384px;
}

.Madagascar,
.MG {
	background-position: right -2400px;
}

.Marshall-Islands,
.MH {
	background-position: right -2416px;
}

.Macedonia,
.MK {
	background-position: right -2432px;
}

.Mali,
.ML {
	background-position: right -2448px;
}

.Myanmar,
.MM {
	background-position: right -2464px;
}

.Mongolia,
.MN {
	background-position: right -2480px;
}

.Macao,
.MO {
	background-position: right -2496px;
}

.Martinique,
.MQ {
	background-position: right -2512px;
}

.Mauritania,
.MR {
	background-position: right -2528px;
}

.Montserrat,
.MS {
	background-position: right -2544px;
}

.Malta,
.MT {
	background-position: right -2560px;
}

.Mauritius,
.MU {
	background-position: right -2576px;
}

.Maldives,
.MV {
	background-position: right -2592px;
}

.Malawi,
.MW {
	background-position: right -2608px;
}

.Mexico,
.MX {
	background-position: right -2624px;
}

.Malaysia,
.MY {
	background-position: right -2640px;
}

.Mozambique,
.MX {
	background-position: right -2656px;
}

.Namibia,
.NA {
	background-position: right -2672px;
}

.New-Caledonia,
.NC {
	background-position: right -2688px;
}

.Niger,
.NE {
	background-position: right -2704px;
}

.Nigeria,
.NG {
	background-position: right -2720px;
}

.Nicaragua,
.NI {
	background-position: right -2736px;
}

.Netherlands,
.NL {
	background-position: right -2752px;
}

.Norway,
.NO {
	background-position: right -2768px;
}

.Nepal,
.NP {
	background-position: right -2784px;
}

.Nauru,
.NR {
	background-position: right -2800px;
}

.New-Zealand,
.NZ {
	background-position: right -2816px;
}

.Oman,
.OM {
	background-position: right -2832px;
}

.Panama,
.PA {
	background-position: right -2848px;
}

.Peru,
.PE {
	background-position: right -2864px;
}

.French-Polynesia {
	background-position: right -2880px;
}

.Papua-New-Guinea,
.PG {
	background-position: right -2896px;
}

.Philippines,
.PH {
	background-position: right -2912px;
}

.Pakistan,
.PK {
	background-position: right -2928px;
}

.Poland,
.PL {
	background-position: right -2944px;
}

.Puerto-Rico,
.PR {
	background-position: right -2960px;
}

.Palestine,
.PS {
	background-position: right -2976px;
}

.Portugal,
.PT {
	background-position: right -2992px;
}

.Palau,
.PW {
	background-position: right -3008px;
}

.Paraguay,
.PY {
	background-position: right -3024px;
}

.Qatar,
.QA {
	background-position: right -3040px;
}

.Reunion,
.RE {
	background-position: right -3056px;
}

.Romania,
.RO {
	background-position: right -3072px;
}

.Serbia,
.RS {
	background-position: right -3088px;
}

.Russia,
.RU {
	background-position: right -3104px;
}

.Russian-Federation,
.RU {
	background-position: right -3104px;
}

.Rwanda,
.RW {
	background-position: right -3120px;
}

.Saudi-Arabia,
.SA {
	background-position: right -3136px;
}

.Solomon-Islands,
.SB {
	background-position: right -3152px;
}

.Seychelles,
.SC {
	background-position: right -3168px;
}

.Sudan,
.SD {
	background-position: right -3184px;
}

.Sweden,
.SE {
	background-position: right -3200px;
}

.Singapore,
.SG {
	background-position: right -3216px;
}

.Slovenia,
.SI {
	background-position: right -3232px;
}

.Slovakia,
.Slovak-Republic,
.SK {
	background-position: right -3248px;
}

.Sierra-Leone,
.SL {
	background-position: right -3264px;
}

.San-Marino,
.SM {
	background-position: right -3280px;
}

.Senegal,
.SN {
	background-position: right -3296px;
}

.Somalia,
.SO {
	background-position: right -3312px;
}

.Suriname,
.SR {
	background-position: right -3328px;
}

.Sao-Tome-and-Principe,
.ST {
	background-position: right -3344px;
}

.El-Salvador,
.SV {
	background-position: right -3360px;
}

.Syrian-Arab-Republic,
.SY {
	background-position: right -3376px;
}

.Swaziland,
.SZ {
	background-position: right -3392px;
}

.Turks-and-Caicos-Islands,
.TC {
	background-position: right -3408px;
}

.Chad,
.TD {
	background-position: right -3424px;
}

.Togo,
.TG {
	background-position: right -3440px;
}

.Thailand,
.TH {
	background-position: right -3456px;
}

.Tajikistan,
.TJ {
	background-position: right -3472px;
}

.Timor-Leste,
.TL {
	background-position: right -3488px;
}

.Turkmenistan,
.TM {
	background-position: right -3504px;
}

.Tunisia,
.TN {
	background-position: right -3520px;
}

.Tonga,
.TO {
	background-position: right -3536px;
}

.Turkey,
.TR {
	background-position: right -3552px;
}

.Trinidad-and-Tobago,
.TT {
	background-position: right -3568px;
}

.Tuvalu,
.TV {
	background-position: right -3584px;
}

.Taiwan,
.TW {
	background-position: right -3600px;
}

.Tanzania,
.TZ {
	background-position: right -3616px;
}

.Ukraine,
.UA {
	background-position: right -3632px;
}

.Uganda,
.UG {
	background-position: right -3648px;
}

.United-States,
.US {
	background-position: right -3664px;
}

.Uruguay,
.UY {
	background-position: right -3680px;
}

.Uzbekistan,
.UZ {
	background-position: right -3696px;
}

.Holy-See,
.VA {
	background-position: right -3712px;
}

.Saint-Vincent-and-the-Grenadines,
.VC {
	background-position: right -3728px;
}

.Venezuela,
.VE {
	background-position: right -3744px;
}

.British-Virgin-Islands,
.VG {
	background-position: right -3760px;
}

.Virgin-Islands,
.VI {
	background-position: right -3776px;
}

.Viet-Nam,
.VN {
	background-position: right -3792px;
}

.Vanuatu,
.VU {
	background-position: right -3808px;
}

.Samoa,
.WS {
	background-position: right -3824px;
}

.Yemen,
.YE {
	background-position: right -3840px;
}

.South-Africa,
.ZA {
	background-position: right -3856px;
}

.Zambia,
.ZM {
	background-position: right -3872px;
}

.Zimbabwe,
.ZW {
	background-position: right -3872px;
}

.home {
	background-position: right -3952px;
}
